@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
color:#423E37;
}
nav {
    font-family: 'Merriweather', serif;
    background: #423E37;
    width: auto;
    border-radius: 30px;
}
nav ul {
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    color: white;
}
nav li {
    display: inline;
    list-style-type: none;
}
nav li a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background: wheat;
    border-radius: 20px;
}
nav li a:hover {
    background: rgba(255, 192, 203, 0.67);
}
nav li .current {
    background: #FFCC66;
    color: #000000;
}